.home {
}

.home__title {
  margin-top: 0;
}

.home__filters {
  margin-bottom: 16px;
}

.home__select {
  width: 220px;
}

.home__search {
  width: 320px;
}

.home__loading {
  margin-bottom: 12px;
}

.home__cardLink {
  text-decoration: none;
}

.home__card {
  cursor: pointer;
}

.home__img {
  height: 180px;
  object-fit: cover;
  width: 100%;
}

.home__productName {
  margin-top: 0;
  margin-bottom: 8px;
}

.home__descWrap {
  margin-top: 8px;
}

.home__desc {
  display: block;
}
.home__img {
  width: 100%;
  aspect-ratio: 3 / 2;     
  object-fit: contain;
  background: rgb(220, 191, 221);
  display: block;
}
.home__carousel {
  margin-bottom: 16px;
  border-radius: 12px;
  overflow: hidden;
}

.home__slide {
  height: 300px; 
  display: flex !important;
  align-items: center;
  justify-content: center;
  background: rgb(206, 162, 192);
  color: white;
  font-size: 28px;
}