.app {
  min-height: 100vh;
  
}

.app__header {
  padding: 0;
  
}

.app__menu {
  line-height: 64px; 
  background: pink;
  display: flex;
  justify-content: center;
  
 
}

.app__content {
  padding: 24px;
}

.app__page {
  padding: 8px 0;
}
.app__menu .ant-menu-item a {
  color: #174087 !important;
}
.menu__spacer {
  margin-left: auto;
  cursor: default;
  opacity: 0;
  pointer-events: none;
}

.menu__hello {
  cursor: default;
}
.menu__hello * {
  color: #174087 !important;
}
.menu__logout{
  color: #174087 !important;
}
.app__content {
  padding: 24px;
  padding-bottom: 80px; 
}